<div th:fragment="bodyHeader">
    <div class="header">
        <div class="container flex" style="margin-top: 10px">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.png" />
                </a>
            </div>
            <div class="row">
                <ul>
                    <li>
                        <a href="/createStudy"><h6>스터디 생성하기</h6></a>
                    </li>
                    <li>
                        <a href="/boardSearch"><h6>자유게시판</h6></a>
                    </li>
                    <li  id="loginbtn">
                        <a href="/login"><h6>로그인</h6></a>
                    </li>
                    <li  id="logoutbtn">
                        <a href="/logout"><h6>로그아웃</h6></a>
                    </li>
                    <li>
                        <a href="/myPage" ><h6>마이페이지</h6></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

