<div th:fragment="footer">
    <div class="footer">
        <div class="container grid2">
            <div class="box">
                <img src="https://see.fontimg.com/api/renderfont4/Ea2l9/eyJyIjoiZnMiLCJoIjoxNTIsInciOjIwMDAsImZzIjo3NiwiZmdjIjoiIzAwMDAwMCIsImJnYyI6IiNGRkZGRkYifQ/U1RVRFkgV0lUSCBVUw/valentine.png"
                     alt="logo"
                />
                <p>온라인 스터디 공간입니다.</p>
                <div class="socialIcon">
                    <i class="fab fa-facebook-f "></i>
                    <i class="fab fa-instagram "></i>
                    <i class="fab fa-twitter "></i>
                    <i class="fab fa-youtube "></i>
                </div>
            </div>

            <div class="box">
                <h2>Contact Us</h2>

                <div class="icon">
                    <i class="fa fa-map-marker"></i>
                    <label htmlFor="">Location: 서울시 서초구 서초동 1307</label>
                </div>
                <div class="icon">
                    <i class="fa fa-phone"></i>
                    <label htmlFor="">Phone: +82 2 6666 6666</label>
                </div>
                <div class="icon">
                    <i class="fa fa-envelope"></i>
                    <label htmlFor="">Email: support@gmail.com</label>
                </div>
            </div>
        </div>
        <div class="legal container">
            <p>Copyright @2022. All rights reserved.</p>
            <p htmlFor="">
                Design & Developed by <span>6조머지?</span>
            </p>
        </div>
    </div>
</div>