<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>

<div class="container admin">
    <h4 style="text-align: center; color: #386ad1; margin: 50px auto 5px auto;">ADMIN PAGE</h4>
    <div class="flex" style="width: 35%; margin: 10px auto;">
        <h5><a href="/adminPage" style="margin: 10px">환급 리스트</a></h5>
        <h5><a href="/userList" style="margin: 10px">사용자 리스트</a></h5>
        <h5><a href="/teamList" style="margin: 10px">스터디 리스트</a></h5>
    </div>
</div>


<div class="container admin" style="margin-top: 80px;">
    <h1 style="text-align: center;">환급 리스트</h1>

    <div class="adminflex" style="float: right; margin-right: 10px; margin-top: 30px; margin-bottom: 20px;">
        <div class="first"><h3>총 포인트 :</h3></div>
        <div class="second" id="pointInfo"></div>
        <div class="third"><h3>P</h3></div>
    </div>

    <table class="table table-hover" style="margin-top: 30px; text-align: center;">
        <thead  class="thead-dark">
        <tr>
            <th scope="col">예금주</th>
            <th scope="col">은행명</th>
            <th scope="col">계좌번호</th>
            <th scope="col">환급액</th>
            <th scope="col">진행상황</th>
        </tr>
        </thead>
        <tbody id="accounts"></tbody>
    </table>
    <div style="text-align: center; margin: 30px; " >
        <button id="deleteCompleteAccounts" style="background-color: orange; height: 30pt; color: white; border-color: orange">
            <strong>완료된 내역 삭제</strong>
        </button>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>


<script>
    $(document).ready(function () {
        getPointInfo();
        getAccounts();
        $("#deleteCompleteAccounts").on('click', function() {
            deleteCompleteAccounts();
        })
    });

    function deleteCompleteAccounts() {
        $.ajax({
            url: "/deleteCompleteAccounts",
            type: "GET",
            success: function(data){
                if(data == true){
                    alert("환급 완료된 내역 삭제되었습니다.");
                    window.location.replace('/adminPage');
                }
                else{
                    alert("환급 완료된 내역이 없습니다.");
                    window.location.replace('/adminPage');
                }
            },
        });
    }


    function getPointInfo(){
        $.ajax({
            type:"get",
            url:"/pointInfo",
            success: function(data){
                var pointInfo = document.getElementById('pointInfo');
                let point = document.createElement('h3');
                point.innerHTML=data;
                pointInfo.appendChild(point);

            }, error:function(){
                alert("error");
            }
        })
    }

    function getAccounts(){
        $.ajax({
            type:"get",
            url:"/accountRefunds",
            success: function(data){
                let accounts = document.getElementById('accounts');

                data.forEach(function(account){

                    let name = document.createElement('td');
                    name.innerHTML = account.userName;

                    let bankName = document.createElement('td');
                    bankName.innerHTML = account.bankName;

                    let accountInfo = document.createElement('td');
                    accountInfo.innerHTML = account.account;

                    let point = document.createElement('td');
                    point.innerHTML = account.point+' P';

                    let check = document.createElement('td');
                    let teamButton = document.createElement('button');
                    teamButton.setAttribute("type", "button")

                    if(account.flag==true) {
                        teamButton.setAttribute("disabled", "disabled");
                        teamButton.innerText = "환급완료";
                        teamButton.setAttribute("class", "btn btn-sm")
                    }
                    else  {
                        teamButton.innerText = "환급요청";
                        teamButton.setAttribute("class", "btn btn-primary btn-sm")
                    }

                    check.appendChild(teamButton);

                    let eachAccount = document.createElement('tr');
                    eachAccount.setAttribute("style", "text-align: center;")
                    eachAccount.append(name);
                    eachAccount.append(bankName);
                    eachAccount.append(accountInfo)
                    eachAccount.append(point);
                    eachAccount.append(check);


                    accounts.appendChild(eachAccount);


                    teamButton.addEventListener("click", ()=>{
                        $.ajax({
                            url: "/changeFlag",
                            type: "GET",
                            dataType:"json",
                            data: {
                                rID : account.rrID,
                                point : account.point
                            },
                            success: function (data){
                                if (data==true){
                                    alert("환급처리가 완료되었습니다.")
                                    window.location.replace('/adminPage');
                                }
                                else if(data==false){
                                    alert("에러")
                                    window.location.replace('/adminPage') ;
                                }
                            }, error:function(){
                                alert("로그인 후 이용해주세요.");
                                window.location.replace('/login') ;
                            }
                        });
                    });

                });
            }, error:function(){
                alert("error");
            }
        })
    }
</script>



</body>
</html>