<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div class="container" style="width: 1500px;">
    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-4">
            <h2>자유게시판</h2>
        </div>
    </div>

    <form class="row mb-3" style="float: right;" th:action="@{/boardSearch}">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <input class="form-control" type="text" name="keyword" th:value="${param.keyword}"
                   placeholder="게시글을 검색하세요"/>
            <button class="btn btn-outline-dark" id="searchbtn" type="submit"
                    style="border-color: #00000030; width:100px; margin-left: 10px;">
                검색
            </button>
        </div>
    </form>
    <table class="table" style="text-align: center">
        <thead class="table-dark">
        <th style="width: 6em;">No.</th>
        <th>제목</th>
        <th style="width: 15em">작성자</th>
        <th style="width: 15em">작성일</th>
        </thead>
        <tbody>
        <tr th:each="list : ${VOlist}">
            <th th:text="${list.idx}"></th>
            <td><form id="titleForm" method="post" th:action="@{'/detailContent/'+${list.idx}}"><span th:text="${list.title}" id="title"></span><input type="hidden" name="bID" th:value="${list.bbID} "></form></td>
<!--            <td><a th:href="@{'/detailContent/'+${list.bbID} + '/' + ${list.idx}}" th:text="${list.title}" style="color: black;"></a></td>-->
            <td th:text="${list.name}"></td>
            <td th:text="${list.uploadTime}"></td>
        </tr>
        <tr th:if="${boardList.content.size()==0}">
            <td colspan="4" style="text-align: center">게시물이 존재하지 않습니다.</td>
        </tr>
        </tbody>
    </table>

    <div style="float: right; margin-top: 10px;">
        <button class="btn btn-outline-dark" id="writerCheck" style="border-color: #00000030; width:100px;">
            글작성
        </button>
    </div>

    <div th:if="${VOlist.size()!=0}" style="margin-top: 80px;">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${1 ==currentPage} ? 'disabled'">
                    <a class="page-link" href="#" th:href="@{/boardSearch(page=0,keyword=${param.keyword})}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${1 ==currentPage} ? 'disabled'">
                    <a class="page-link" href="#"
                       th:href="@{/boardSearch(page=${currentPage-2},keyword=${param.keyword})}" aria-label="Previous">
                        <span aria-hidden="true"><</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${idx ==currentPage} ? 'disabled'"
                    th:each="idx:${#numbers.sequence(startPage,endPage)}">
                    <a class="page-link" href="#" th:href="@{/boardSearch(page=${idx-1},keyword=${param.keyword})}"
                       th:text="${idx}"></a></li>

                <li class="page-item" th:classappend="${boardList.totalPages ==currentPage} ? 'disabled'">
                    <a class="page-link" href="#"
                       th:href="@{/boardSearch(page=${currentPage},keyword=${param.keyword})}" aria-label="Next">
                        <span aria-hidden="true">></span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${boardList.totalPages ==currentPage} ? 'disabled'">
                    <a class="page-link" href="#" th:href="@{/boardSearch(page=${end-1},keyword=${param.keyword})}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<style>

    #titleForm:hover{
        cursor: pointer;
    }
</style>
<script>
    jQuery(document).ready(function () {
        let titleForm = document.querySelectorAll('td form')
        for(tf of titleForm){
            tf.addEventListener('click',function (){
                $(this).submit()
            })
        }
        // $("#title").click(function () {
        //     $('#titleForm').submit()
        // })
        // writerCheck();
        $("#writerCheck").click(function () {
            writerCheck();
            console.log("글쓰기 클릭");
        })


        function writerCheck() {
            $.ajax({
                url: "/checkUser",
                type: "POST",
                success: function (data) {
                    console.log('성공')
                    console.log(data)
                    if (data == 0) {
                        alert("게시글은 회원만 작성할 수 있습니다.")
                    } else {
                        location.href = '/write';
                    }
                }, error: function (error) {
                    console.log(error);
                }
            });
        }

    });
</script>

</body>
</html>