<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>study with us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="http://madalla.kr/js/jquery-1.8.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@200;300;400&family=Roboto+Serif:wght@800&display=swap');
    </style>
    <style>
        *{
            font-family: "Poppins", sans-serif;
        }
        #View,#file{
            width: 300px;
        }
        #file {
            margin: 0 auto;
        }
        #submit{
            color: #33333380;
            background-color: white;
            border: 1px solid #33333330;
            font-weight: bold;
        }
        #submit:hover{
            background-color: #33333310;
        }
    </style>
    <script type="text/javascript">
        $(function() {
            $("#file").on('change', function(){
                readURL(this);
            });
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#View').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }else{
                $('#View').attr('src', "/adminImage/temp.png");
            }
        }
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            let isIdValid=false;

            // 그룹아이디 유효성 체크
            $('#teamName').focusout(function (evt){
                let teamName = document.querySelector('#teamName')
                sendData = $('#teamName').val();
                $.ajax({
                    type: "POST",
                    url : "validateStudy",
                    data : {sendData:sendData},
                    success: function(data) {
                        if (data == 0) {
                            isIdValid=true;
                        }else if(data==-1){
                            teamName.setAttribute('placeholder','스터디명을 입력해주세요')
                            isIdValid=false;
                        }else{
                            $('#teamName').val("")
                            $('#teamName').focus()
                            teamName.setAttribute('placeholder','중복되는 스터디명입니다.')
                            isIdValid=false;
                        }
                        if(isIdValid){
                            teamName.classList.remove("is-invalid");
                            teamName.classList.add("is-valid");
                        }else{
                            teamName.classList.remove("is-valid");
                            teamName.classList.add("is-invalid");
                        }
                    }
                })
            })

            // 서버로 데이터 전송
            $('#submit').click(function (evt) {
                evt.preventDefault();

                let teamName = document.querySelector('input[name="teamName"]');
                if (!teamName.value) {
                    teamName.focus();
                    evt.preventDefault();
                    return;
                }
                let teamDesc = document.querySelector('textarea');
                if(!teamDesc.value){
                    teamDesc.focus();
                    evt.preventDefault();
                    return;
                }
                let startDate = document.querySelector('input[name="startDate"]');
                if(!startDate.value){
                    startDate.focus();
                    evt.preventDefault();
                    return;
                }
                let endDate = document.querySelector('input[name="endDate"]');
                if(!endDate.value){
                    endDate.focus();
                    evt.preventDefault();
                    return;
                }
                let headCount = document.querySelector('input[name="headCount"]');
                if(!headCount.value){
                    headCount.focus();
                    evt.preventDefault();
                    return;
                }
                let depositPoint = document.querySelector('input[name="depositPoint"]');
                if(!depositPoint.value){
                    depositPoint.focus();
                    evt.preventDefault();
                    return;
                }
                let targetTime = document.querySelector('input[name="targetTime"]');
                if(!targetTime.value){
                    targetTime.focus();
                    evt.preventDefault();
                    return;
                }
                let res = confirm("스터디를 생성하시겠습니까?");
                if (res == true) {
                    let qs = $('#CreateForm').serialize();

                    $.ajax({
                        type: "POST",
                        url: "createStudy",
                        data: qs,
                        success: function (data) {
                            alert('생성이 완료되었습니다.');
                            $('#hidden').val(teamName.value);
                            $('#imgf').submit();
                        },
                        error: function (error) {
                            console.log(error)
                        }
                    });
                }
            })
        })

        function fileTypeCheck(obj) {
            pathpoint = obj.value.lastIndexOf('.');
            filepoint = obj.value.substring(pathpoint+1,obj.length);
            filetype = filepoint.toLowerCase();
            if(filetype=='jpg' || filetype=='gif' || filetype=='png' || filetype=='jpeg' || filetype=='bmp' || filetype=='svg' || filetype=='tiff' || filetype=='jfif' || filetype=='tif') {
                // 정상적인 이미지 확장자 파일인 경우
                readURL(this)
            } else {
                alert('이미지 파일만 업로드 가능합니다.');
                $('#View').attr('src', "/AdminImage/temp.png");
                $('#file').val("")
                return false;
            }
        }

    </script>
</head>
<body>
<div class="header">
    <div class="container flex" style="margin-top: 10px">
        <div class="logo">
            <a href="/">
                <img src="../images/logo.png" />
            </a>
        </div>
        <div class="row nav">
            <ul>
                <li>
                    <a href="/createStudy"><h5>스터디 생성하기</h5></a>
                </li>
                <li>
                    <a href="/board"><h5>자유게시판</h5></a>
                </li>
                <li>
                    <a href="/login"><h5>로그인</h5></a>
                </li>
                <li>
                    <a href="/logout" id="logoutbtn"><h5>로그아웃</h5></a>
                </li>
                <li>
                    <button type="button" onclick='location.href="/myPage"'>
                        마이페이지
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="topMargin">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form id="imgf" action="upload" method="post" enctype="multipart/form-data">
                <div class="mb-3"><img src="/adminImage/temp.png" id="View" class="rounded img-thumbnail mx-auto d-block" ></div>
                <div class="mb-3">
                    <div>
                        <input class="form-control" type="file" name="file" id="file"  accept="image/*" onchange="fileTypeCheck(this)"/>
                    </div>
                    <input type="text" id="hidden" value="" name="tName" hidden>
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-5" style="margin: 10px auto">
            <form class="form-horizontal needs-1validation" id="CreateForm" novalidate>
                <div class="mb-3 row">
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 control-label">스터디명</label>
                    <div class="col-sm-9"><input type="text" name="teamName" id="teamName" placeholder="스터디명을 입력해주세요."
                                                 class="form-control" required/></div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 control-label">스터디 설명 및 목적</label>
                    <div class="col-sm-9"><textarea name="teamDesc" id="teamDesc" cols="40" rows="10"
                                                    class="form-control" required></textarea></div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 control-label">스터디 시작</label>
                    <div class="col-sm-9"><input type="date" name="startDate" id="startDate"
                                                 class="form-control" required/></div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 control-label">스터디 종료</label>
                    <div class="col-sm-9"><input type="date" name="endDate" id="endDate"
                                                 class="form-control" required/></div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 control-label">인원수</label>
                    <div class="col-sm-9"><input type="number" min="0" max="30" name="headCount" id="headCount" placeholder="인원 수를 입력해주세요"
                                                 class="form-control" required/></div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 control-label">참여 포인트</label>
                    <div class="col-sm-9"><input type="number" step="100" min="0" name="depositPoint" id="depositPoint" placeholder="참여 포인트를 입력해주세요"
                                                 class="form-control" required/></div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 control-label">스터디 목표 시간</label>
                    <div class="col-sm-9"><input type="text" name="targetTime" id="targetTime" placeholder="목표 공부 시간을 입력해주세요."
                                                 class="form-control" required/></div>
                </div>

                <div class="mb-3 row topMargin">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-lg" id="submit">그룹 생성</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
<div class="footer">
    <div class="container grid2">
        <div class="box">
            <img src="https://see.fontimg.com/api/renderfont4/Ea2l9/eyJyIjoiZnMiLCJoIjoxNTIsInciOjIwMDAsImZzIjo3NiwiZmdjIjoiIzAwMDAwMCIsImJnYyI6IiNGRkZGRkYifQ/U1RVRFkgV0lUSCBVUw/valentine.png"
                 alt="logo"
            />
            <p>온라인 스터디 공간입니다.</p>
            <div class="socialIcon">
                <i class="fab fa-facebook-f "></i>
                <i class="fab fa-instagram "></i>
                <i class="fab fa-twitter "></i>
                <i class="fab fa-youtube "></i>
            </div>
        </div>

        <div class="box">
            <h2>Contact Us</h2>

            <div class="icon">
                <i class="fa fa-location-dot"></i>
                <label htmlFor="">Location: 서울시 서초구 서초동 1307</label>
            </div>
            <div class="icon">
                <i class="fa fa-phone"></i>
                <label htmlFor="">Phone: +82 2 6666 6666</label>
            </div>
            <div class="icon">
                <i class="fa fa-envelope"></i>
                <label htmlFor="">Email: support@gmail.com</label>
            </div>
        </div>
    </div>
    <div class="legal container">
        <p>Copyright @2022. All rights reserved.</p>
        <label htmlFor="">
            Design & Developed by <span>6조머지?</span>
        </label>
    </div>
</div>
</body>
</html>