<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div class="topMargin">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form id="imgf" action="upload" method="post" enctype="multipart/form-data">
                <div class="mb-3"><img src="/adminImage/temp.png" id="View" class="rounded img-thumbnail mx-auto d-block" ></div>
                <div class="mb-3">
                    <div>
                        <input class="form-control" type="file" name="file" id="file"  accept="image/*" onchange="fileTypeCheck(this)"/>
                    </div>
                    <input type="text" id="hidden" value="" name="tName" hidden>
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-5" style="margin: 10px auto">
            <form class="form-horizontal needs-1validation" id="CreateForm" novalidate>
                <div class="mb-3 row">
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 control-label">스터디명</label>
                    <div class="col-sm-9"><input type="text" name="teamName" id="teamName" placeholder="스터디명을 입력해주세요."
                                                 class="form-control" required/></div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 control-label">스터디 설명 및 목적</label>
                    <div class="col-sm-9"><textarea name="teamDesc" id="teamDesc" cols="40" rows="10"
                                                    class="form-control" required></textarea></div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 control-label">스터디 시작</label>
                    <div class="col-sm-9"><input type="date" name="startDate" id="startDate"
                                                 class="form-control" required/></div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 control-label">스터디 종료</label>
                    <div class="col-sm-9"><input type="date" name="endDate" id="endDate"
                                                 class="form-control" required/></div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 control-label">인원수</label>
                    <div class="col-sm-9"><input type="number" min="0" max="30" name="headCount" id="headCount" placeholder="인원 수를 입력해주세요"
                                                 class="form-control" required/></div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 control-label">참여 포인트</label>
                    <div class="col-sm-9"><input type="number" step="100" min="0" name="depositPoint" id="depositPoint" placeholder="참여 포인트를 입력해주세요"
                                                 class="form-control" required/></div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 control-label">스터디 목표 시간</label>
                    <div class="col-sm-9"><input type="text" name="targetTime" id="targetTime" placeholder="목표 공부 시간을 입력해주세요."
                                                 class="form-control" required/></div>
                </div>
                
                <div class="mb-3 row">
                    <div class="col-sm-9">
                        <label for="public">공개</label>
                        <input type="radio" name="scope" value="public" id="public" checked/>
                        <label for="private">비공개</label>
                        <input type="radio" name="scope" value="private" id="private"/>
                    </div>
                </div>
                <div class="mb-3 row" id="passwordBox" hidden>
                    <label class="col-sm-3 control-label">비밀번호</label>
                    <div class="col-sm-9"><input type="text" name="password" id="password" placeholder="비밀번호를 입력해주세요."
                                                 class="form-control"/></div>
                </div>

                <div class="mb-3 row topMargin">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-lg" id="submit">그룹 생성</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
