<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Study With Us</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="../css/style.css"/>
</head>

<style>
    .h-divider {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 1px;
        width: 100%;
        border-top: 1px solid gray;
    }
</style>
</head>

<body>
<div class="header">
    <div class="container flex" style="margin-top: 10px">
        <div class="logo">
            <a href="/">
                <img src="../images/logo.png"/>
            </a>
        </div>
        <div class="row">
            <ul>
                <li>
                    <h6><a href="/createStudy">스터디 생성하기</a></h6>
                </li>
                <li>
                    <a href="/boardSearch"><h6>자유게시판</h6></a>
                </li>
                <li>
                    <a href="/login"><h6>로그인</h6></a>
                </li>
                <li>
                    <a href="/logout" id="logoutbtn"><h6>로그아웃</h6></a>
                </li>
                <li>
                    <button type="button" onclick='location.href="/myPage"'>
                        마이페이지
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container" style="width: 1000px;">
    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-4">
            <h2 style="font-weight: bold;">자유게시판</h2>
        </div>
    </div>

    <div class="col-xs-1" style="float: right; margin-top: 10px; margin-bottom: 20px;">
        <button type="submit" class="btn btn-outline-dark" onclick="location.href='/boardSearch'"
                style="border-color: #00000060; margin-left: 10px;">
            목록
        </button>
    </div>

    <table class="table table-bordered" style="margin-top: 50px;">
        <thead>
        <tr><!-- 첫번째 줄 시작 -->
            <td>번호</td>
            <td id="bID"></td>
            <td>작성일</td>
            <td id="date"></td>
        </tr><!-- 첫번째 줄 끝 -->
        </thead>
        <tbody>
        <tr><!-- 두번째 줄 시작 -->
            <td>작성자</td>
            <td id="name"></td>
            <td colspan="3"></td>
        </tr><!-- 두번째 줄 끝 -->
        <tr><!-- 두번째 줄 시작 -->
            <td>제목</td>
            <td id="title" colspan="3"></td>
        </tr><!-- 두번째 줄 끝 -->
        <tr><!-- 두번째 줄 시작 -->
            <td>내용</td>
            <td id="content" colspan="3"></td>
        </tr><!-- 두번째 줄 끝 -->
        <tbody>
    </table>


    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding: 0px; border: 0px;">
        <div id="deleteBtn" style="border-radius: 0.5rem; height: 10px;"></div>
        <div id="updateBtn" style="border-radius: 0.5rem; height: 10px;"></div>
    </div>

    <!--    <div style="text-align: center;">-->
    <!--        <div id="deleteBtn" style="float: right;"></div>-->
    <!--        <div id="updateBtn" style="float: right;"></div>-->
    <!--    </div>-->
    <form>
        <div class="form-group" style="margin-top: 50px;">
            <hr class="h-divider">
            <div class="col-xs-4">
                <h4>comment</h4>
            </div>
            <label for="comment" class="form-label"></label>
            <textarea class="form-group" rows="2" id="comment" placeholder="내용을 입력해주세요"
                      style="width: 900px; margin-top: 15px;"></textarea>
            <button type="button" class="btn btn-outline-dark" id="btn"
                    style=" width: auto; margin-top: 20px; border-color: #00000060; float: right;">
                등록
            </button>
        </div>
    </form>

    <hr class="h-divider">

    <form>
        <div class="row" style="margin-top: 30px; margin-left:10px;">
            <div id="commentList">
            </div>
        </div>
    </form>

</div>


<div class="footer">
    <div class="container grid2">
        <div class="box">
            <img src="https://see.fontimg.com/api/renderfont4/Ea2l9/eyJyIjoiZnMiLCJoIjoxNTIsInciOjIwMDAsImZzIjo3NiwiZmdjIjoiIzAwMDAwMCIsImJnYyI6IiNGRkZGRkYifQ/U1RVRFkgV0lUSCBVUw/valentine.png"
                 alt="logo"
            />
            <p>온라인 스터디 공간입니다.</p>
            <div class="socialIcon">
                <i class="fab fa-facebook-f "></i>
                <i class="fab fa-instagram "></i>
                <i class="fab fa-twitter "></i>
                <i class="fab fa-youtube "></i>
            </div>
        </div>

        <div class="box">
            <h2>Contact Us</h2>

            <div class="icon">
                <i class="fa fa-location-dot"></i>
                <label htmlFor="">Location: 서울시 서초구 서초동 1307</label>
            </div>
            <div class="icon">
                <i class="fa fa-phone"></i>
                <label htmlFor="">Phone: +82 2 6666 6666</label>
            </div>
            <div class="icon">
                <i class="fa fa-envelope"></i>
                <label htmlFor="">Email: support@gmail.com</label>
            </div>
        </div>
    </div>
    <div class="legal container">
        <p>Copyright @2022. All rights reserved.</p>
        <label htmlFor="">
            Design & Developed by <span>6조머지?</span>
        </label>
    </div>
</div>

<script>
    let curURL = window.location.href;
    let urlArr = curURL.split("/");
    let bId = urlArr[urlArr.length - 1];

    $(document).ready(function () {
        findContent();
        findComment();
        deleteContent();

        $("#btn").on('click', function () {
            saveComment();
        })
    });

    function deleteContent() {
        $.ajax({
            url: "/deleteContent",
            type: "GET",
            data: {
                bID: bId
            },
            success: function (data) {
                if (data == true) {
                    //삭제 버튼 생겨
                    let deletebtn = document.getElementById("deleteBtn");
                    let del = document.createElement('button');
                    del.setAttribute('class', 'btn btn-outline-dark')
                    del.innerHTML = "게시물 삭제";
                    deletebtn.appendChild(del);

                    del.addEventListener("click", () => {
                        $.ajax({
                            url: "/deleteBoard",
                            type: "GET",
                            dataType: "json",
                            data: {
                                bID: bId
                            },
                            success: function (data) {
                                alert("게시글이 삭제되었습니다.")
                                window.location.href = "/boardSearch";

                            }, error: function () {
                                alert("에러");
                                window.location.replace('/boardSearch');
                            }
                        });
                    });
                }
            }, error: function () {
                alert("error");
            }
        });
    }

    function saveComment() {
        $.ajax({
            url: "/saveComment",
            type: "GET",
            data: {
                comment: $("#comment").val(),
                bID: bId
            },
            success: function (data) {

                if (data == true) {
                    window.location.href = "/detailContent/" + bId;
                } else {
                    $("#check").html("최소 한글자 이상을 입력하세요. ");
                    $("#check").attr('color', 'red');
                }
            }, error: function () {
                alert("error");
            }
        });
    }

    $.ajax({
        url: "/checkUser",
        type: "POST",
        success: function (data) {
            console.log('성공')
            console.log(data)
            if (data == 0) {
                $('#comment').attr('readonly', 'true')
                $('#comment').attr('placeholder', '회원만 이용할 수 있습니다.')
            }
        }
    })

    function findContent() {
        $.ajax({
            url: "/detailContent", //게시물 상세조회
            type: "GET",
            data: {
                bID: bId
            },
            success: function (data) {
                let bID = document.getElementById('bID');
                bID.innerHTML = data.bbID
                let date = document.getElementById('date');
                date.innerHTML = data.uploadTime
                let name = document.getElementById('name');
                name.innerHTML = data.name
                let title = document.getElementById('title');
                let title1 = document.createElement('div');
                title1.setAttribute('id', 'titleID');
                title1.innerHTML = data.title;
                title.appendChild(title1);

                let content = document.getElementById('content');
                let content1 = document.createElement('div');
                content1.setAttribute('id', 'contentID');
                content1.innerHTML = data.content;
                content.appendChild(content1);

                //여기는 수정 버튼 로직인데 deleteContent에서도 같은 로직이라서 해당 url로 매핑한다.
                $.ajax({
                    url: "/deleteContent",
                    type: "GET",
                    data: {
                        bID: bId
                    },
                    success: function (flag) {
                        if (flag == true) {
                            //글 작성자만 수정 버튼 생겨
                            let updatebtn1 = document.getElementById("updateBtn");
                            let update1 = document.createElement('button');
                            update1.setAttribute('class', 'btn btn-outline-dark')
                            update1.setAttribute('style', 'margin-left: 10px;')
                            update1.innerHTML = "게시물 수정";
                            updatebtn1.appendChild(update1);
                            update1.addEventListener("click", () => {
                                $('#titleID').empty();
                                $('#contentID').empty();
                                $('#updateBtn').empty();

                                let title3 = document.getElementById('title');
                                let editTitle = document.createElement('input')
                                editTitle.setAttribute('type', 'text');
                                editTitle.setAttribute('id', 'ti');
                                editTitle.setAttribute('style', 'width: 800px;');
                                editTitle.setAttribute('value', data.title);
                                title3.appendChild(editTitle);
                                let content3 = document.getElementById('content');
                                let editContent = document.createElement('input')
                                editContent.setAttribute('type', 'text');
                                editContent.setAttribute('id', 'co');
                                editContent.setAttribute('style', 'width: 800px;,');
                                editContent.setAttribute('value', data.content);
                                content3.appendChild(editContent);

                                let updatebtn2 = document.getElementById("updateBtn");
                                let update2 = document.createElement('button');
                                update2.setAttribute('class', 'btn btn-outline-dark');
                                update2.setAttribute('id', 'update2')
                                update2.setAttribute('style', 'border-color: #00000060;, margin-left: 30px;');
                                update2.innerHTML = "수정 완료";
                                updatebtn2.appendChild(update2);
                                $("#update2").on('click', function () {
                                    saveUpdateContent();
                                })

                                function saveUpdateContent() { //수정 완료 후 게시글 보여주기
                                    $.ajax({
                                        url: "/updateContent",
                                        type: "GET",
                                        dataType: "json",
                                        data: {
                                            bID: bId,
                                            ti: $("#ti").val(),
                                            co: $("#co").val(),
                                        },
                                        success: function (data) {
                                            if (data == true) {
                                                window.location.replace('/detailContent/' + bId);
                                            }
                                        }, error: function () {
                                            alert("게시글 업데이트 에러");
                                            window.location.replace('/board');
                                        }
                                    });
                                }

                            });
                        }
                    }, error: function () {
                        alert("error");
                    }
                });
            }, error: function () {
                alert("error");
            }
        });
    }

    function findComment() {
        $.ajax({
            url: "/findComment",
            type: "GET",
            data: {
                bID: bId
            },
            success: function (data) {
                let commentList = document.getElementById('commentList');
                data.forEach(function (comment) {
                    let div1 = document.createElement('form');
                    div1.setAttribute('class', 'row g-3');
                    div1.setAttribute('style', 'margin-bottom: 40px;');
                    let div2 = document.createElement('div')
                    div2.setAttribute('class', 'col-auto');
                    div2.setAttribute('style', 'margin-top: 30px;, margin-right: 30px;, font-weight: bold');
                    let input = document.createElement('input');
                    input.setAttribute('class', 'form-control');
                    let name = document.createElement('div');
                    name.setAttribute('class', 'col-auto')
                    name.setAttribute('style', 'font-weight: bold, margin-right: 30px;');
                    name.innerHTML = comment.writerName;
                    let content = document.createElement('div');
                    content.setAttribute('id', comment.cmID);
                    content.setAttribute('class', 'col-auto');
                    content.innerHTML = comment.commentContent;
                    div1.appendChild(name);
                    div1.appendChild(content);

                    // <div className="col-auto">
                    //     <label htmlFor="inputPassword2" className="visually-hidden">Password</label>
                    //     <input type="password" className="form-control" id="inputPassword2" placeholder="Password">
                    // </div>
                    // <div className="col-auto">
                    //     <button type="submit" className="btn btn-primary mb-3">Confirm identity</button>
                    // </div>

                    $.ajax({
                        url: "/deleteCommentCheck",
                        type: "GET",
                        data: {
                            bID: bId,
                            cmID: comment.cmID
                        },
                        success: function (data) {
                            if (data == true) {
                                //댓글 삭제 버튼 생겨
                                let delComment = document.createElement('button');
                                delComment.setAttribute('type', 'button');
                                delComment.setAttribute('class', 'btn btn-outline-dark');
                                delComment.setAttribute('style', 'width: 60px;, height:5px;, margin-left: 50px; ,margin-right: 50px;');
                                delComment.innerHTML = "삭제";

                                div1.appendChild(delComment);
                                delComment.addEventListener("click", () => {
                                    $.ajax({
                                        url: "/deleteComment",
                                        type: "GET",
                                        dataType: "json",
                                        data: {
                                            cmID: comment.cmID,
                                            bID: bId
                                        },
                                        success: function (data) {
                                            if (data == true) {
                                                window.location.replace('/detailContent/' + bId);
                                            }
                                        }, error: function () {
                                            alert("댓글 삭제 에러");
                                            window.location.replace('/boardSearch');
                                        }
                                    });
                                });
                            }
                        }, error: function () {
                            alert("댓글 삭제 버튼 생성 에러");
                        }
                    });

                    $.ajax({
                        url: "/updateCommentCheck",
                        type: "GET",
                        data: {
                            cmID: comment.cmID
                        },
                        success: function (data) {
                            if (data == true) {
                                //댓글 수정 버튼 생겨
                                let updateComment = document.createElement('button');
                                updateComment.setAttribute('type', 'button');
                                updateComment.setAttribute('class', 'btn btn-outline-dark');
                                updateComment.setAttribute('style', 'width: 60px;, height:10px; ,margin-left: 50px; ,margin-right: 50px;');

                                updateComment.innerHTML = "수정";
                                div1.appendChild(updateComment);
                                updateComment.addEventListener("click", () => {
                                    $.ajax({
                                        url: "/updateComment",
                                        type: "GET",
                                        dataType: "json",
                                        data: {
                                            cmID: comment.cmID
                                        },
                                        success: function (data) {
                                            if (data == true) {
                                                // const name = '#'+ comment.cmID;
                                                // const name2 = comment.cmID;
                                                // let con = $('name').val();
                                                // $(name).empty(); //name만

                                                // let div1 = document.createElement('form');
                                                // div1.setAttribute('class', 'row g-3');
                                                // let div2 = document.createElement('div')
                                                // div2.setAttribute('class', 'col-auto');
                                                // let input = document.createElement('input');
                                                // input.setAttribute('class', 'form-control');
                                                // let name = document.createElement('div');
                                                // name.setAttribute('class', 'col-auto')
                                                // name.innerHTML = comment.writerName;

                                                let div2 = document.createElement('form');
                                                div2.setAttribute('class', 'row-g-3');
                                                let content = document.createElement('div');
                                                content.setAttribute('class', 'col-auto');
                                                let content1 = document.createElement('input');
                                                content1.setAttribute('class', 'form-control');
                                                content1.setAttribute('id', "editComment");
                                                content1.setAttribute('type', 'text');
                                                content1.setAttribute('style', 'margin-left: 30px')
                                                content1.setAttribute('value', comment.commentContent)
                                                /*         content.setAttribute('id', comment.cmID+'n');*/
                                                div2.appendChild(content1);
                                                div1.appendChild(div2);

                                                let div3 = document.createElement('div');
                                                div3.setAttribute('class', 'col-auto');
                                                let upbtn = document.createElement('button');
                                                upbtn.setAttribute('type', 'button');
                                                upbtn.setAttribute('class', 'btn btn-outline-dark');
                                                upbtn.setAttribute('style', 'border-color: #00000060;, width: 50px; margin-left: 35px;');
                                                upbtn.innerHTML = "수정";
                                                div3.appendChild(upbtn);
                                                div1.appendChild(div3);

                                                upbtn.addEventListener("click", () => {
                                                    $.ajax({
                                                        url: "/updateCommentSave", //댓글 수정하기 버튼 누르고 나오는 수정하기 버튼
                                                        type: "GET",
                                                        dataType: "json",
                                                        data: {
                                                            cmID: comment.cmID,
                                                            commentContent: $("#editComment").val()
                                                        },
                                                        success: function (data) {
                                                            if (data == true) {
                                                                window.location.replace('/detailContent/' + bId);

                                                            }
                                                        }, error: function () {
                                                            alert("댓글 수정 에러");
                                                            window.location.replace('/boardSearch');
                                                        }
                                                    });
                                                });
                                                // window.location.replace('/detailContent/'+bId) ;
                                            }
                                        }, error: function () {
                                            alert("댓글 수정 에러");
                                            window.location.replace('/boardSearch');
                                        }
                                    });
                                });
                            }
                        }, error: function () {
                            alert("댓글 수정 버튼 생성 에러");
                        }
                    });
                    commentList.appendChild(div1);
                });
            }, error: function () {
                alert("댓글 조회 에러");
            }
        });
    }
</script>


</body>
</html>