<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>

<!--<div class="container" style="width: 1500px;margin-top: 80px">-->


    <div class="topMargin container" style="width:500px;margin-top: 80px">
        <h4 style="text-align: center; color: #386ad1; margin-bottom: 10px;">MY INFO</h4>
        <h3 style="text-align: center" class="bottomMargin">개인정보 수정</h3>

        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <form id="imgf" action="uploadUserImage" method="post" enctype="multipart/form-data">
                    <div class="mb-3"><img th:src="${userProfileImage}" id="View" class="rounded img-thumbnail mx-auto d-block" ></div>
                    <div class="mb-3">
                        <div>
                            <input class="form-control" type="file" name="file" id="file"  accept="image/*" onchange="fileTypeCheck(this)"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-2"></div>
        </div>

        <div class="mb-4 row">
            <div class="col-sm-3">이름</div>
            <div class="col-sm-9" id="name"></div>
        </div>

        <div class="mb-4 row">
            <div class="col-sm-3">아이디</div>
            <div class="col-sm-9" id="id"></div>
        </div>

        <div class="mb-4 row">
            <div class="col-sm-3">비밀번호</div>
            <div class="col-sm-9" id="pw"></div>
        </div>

        <div class="mb-4 row">
            <div class="col-sm-3">이메일</div>
            <div class="col-sm-9" id="email"></div>
        </div>

        <div class="mb-4 row" >
            <button class="col-sm-12" id="btn">저장하기</button>
        </div>
    </div>


<!--</div>-->

<div th:replace="fragments/footer :: footer"></div>

<script>
    getUser();
    function getUser(){
        $.ajax({
            url: "/getUserInfo",
            type: "GET",
            dataType:"json",
            success: function (user){
                let name = document.getElementById('name');
                let id = document.getElementById('id');
                let pw = document.getElementById('pw');
                let email = document.getElementById('email');

                let div2 = document.createElement('input')
                div2.setAttribute('type', 'text');
                div2.setAttribute('id', 'name1');
                div2.setAttribute('value', user.userName);
                div2.setAttribute('readOnly', 'true');
                div2.setAttribute('class','form-control')
                name.appendChild(div2);
                let div3 = document.createElement('input')
                div3.setAttribute('type', 'text');
                div3.setAttribute('id', 'id1');
                div3.setAttribute('value', user.userID);
                div3.setAttribute('readOnly', 'true');
                div3.setAttribute('class','form-control')
                id.appendChild(div3);
                let div4 = document.createElement('input')
                div4.setAttribute('type', 'password');
                div4.setAttribute('id', 'pw1');
                div4.setAttribute('value', user.pw);
                div4.setAttribute('class','form-control')
                pw.appendChild(div4);
                let div5 = document.createElement('input')
                div5.setAttribute('type', 'text');
                div5.setAttribute('id', 'email1');
                div5.setAttribute('value', user.email);
                div5.setAttribute('readOnly', 'true');
                div5.setAttribute('class','form-control')
                email.appendChild(div5);


                $("#btn").on('click', function() {
                    $.ajax({
                        url: "/saveEditUser",
                        type: "POST",
                        data: {
                            name:$("#name1").val(),
                            id:$("#id1").val(),
                            pw:$("#pw1").val(),
                            email:$("#email1").val()
                        },
                        success: function(data){
                            $('#imgf').submit();
                            alert("개인정보 수정이 완료되었습니다. ")
                            // window.location.href = "/myPage";
                        },error:function(error){
                            console.log(error)
                        }
                    });

                })

            }, error:function(){
                alert("관리자가 아닙니다.");
                window.location.replace('/userList') ;
            }
        });
    }
    function fileTypeCheck(obj) {
        pathpoint = obj.value.lastIndexOf('.');
        filepoint = obj.value.substring(pathpoint+1,obj.length);
        filetype = filepoint.toLowerCase();
        if(filetype=='jpg' || filetype=='gif' || filetype=='png' || filetype=='jpeg' || filetype=='bmp' || filetype=='svg' || filetype=='tiff' || filetype=='jfif' || filetype=='tif') {
            // 정상적인 이미지 확장자 파일인 경우
            readURL(this)
        } else {
            alert('이미지 파일만 업로드 가능합니다.');
            $('#View').attr('src', "/AdminImage/userIcon.png");
            $('#file').val("")
            return false;
        }
    }
    $(function() {
        $("#file").on('change', function(){
            readURL(this);
        });
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#View').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }else{
            $('#View').attr('src', "/adminImage/temp.png");
        }
    }
</script>

</body>
</html>