<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
  
<div class="container topMargin" style="margin-top: 100px">
    <h4 style="text-align: center; color: #386ad1; margin-bottom: 10px;">MY STUDY</h4>
    <h3 style="text-align: center" class="bottomMargin">내 스터디 목록</h3>
    <hr />
    <div id="myTeams" class="flexevenly topMargin"></div>
    <hr class="topMargin"/>
</div>

<div class="container topMargin" style="margin-top: 80px">
    <h4 style="text-align: center; color: #386ad1; margin-bottom: 10px;">SEARCH STUDY</h4>
    <h3 style="text-align: center">나에게 맞는 스터디 검색하기</h3>
    <div style="margin: 20px; text-align: center">
        <input
                type="text"
                id="teamName"
                placeholder="찾고자 하는 스터디를 입력해주세요."
                style="width: 250px; padding: 8px;"
        />
        <button type="button" id="search">검색</button>
        <button type="reset" id="reset">취소</button>
        <button type="button" id="voice">음성검색</button>
    </div>
    <div id="Teams" class="flexevenly" style="margin-top: 30px"></div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script>
    getMyTeams();
    getTeams();
    function getTeams(){
        let check1 =0;
        let teamName1 = "";
        $("#search").on('click', function() {
            check1 = 1;
            teamName1 = $("#teamName").val();
            $('#Teams').empty();
            getTeam();
        })
        $("#reset").on('click', function() {
            check1 = 0;
            teamName1 ="";
            $("#teamName").val("");
            $('#Teams').empty();
            getTeam();
        })
        if(check1==0)getTeam();
        function getTeam(){
            $.ajax({
                type:"get",
                url:"/findAllTeams",
                data: {
                    check : check1,
                    teamName: teamName1
                },
                success: function(data){
                    var teams = document.getElementById('Teams');
                    data.forEach(function(team){

                        let image = document.createElement('img');
                        image.setAttribute("src", "../images/study2.jpg");
                        image.setAttribute("style", "height:200px; width:200px");

                        let teamName = document.createElement('h3');
                        teamName.innerHTML = team.teamName;

                        let teamContent = document.createElement('div');
                        teamContent.innerHTML = team.teamDesc;

                        let currentCount = document.createElement('div');
                        currentCount.innerHTML = "현재인원 : " + team.currentCount+'/'+team.headCount;

                        let date = document.createElement('div');
                        date.innerHTML= team.startDate + " ~ " +team.endDate;

                        let teamDeposit = document.createElement('div');
                        teamDeposit.innerHTML = "참가비 : " + team.depositPoint + "포인트";

                        let teamButton = document.createElement('button');
                        teamButton.innerText = "스터디 참가하기";

                        teamButton.addEventListener("click", ()=>{
                            if(team.scope === "public") {
                                $.ajax({
                                    url: "/studyDeposit",
                                    type: "GET",
                                    dataType: "json",
                                    data: {
                                        tId: team.ttID,
                                        point: team.depositPoint
                                    },
                                    success: function (data) {
                                        if (data == true) {
                                            alert("입금이 완료 되었습니다. 스터디 참가가 가능합니다. ")
                                            window.location.replace('/myPage');
                                        } else if (data == false) {
                                            alert("잔액이 부족합니다. 포인트를 충전해주세요 ")
                                            window.location.replace('/chargePoint');
                                        }
                                    }, error: function () {
                                        alert("로그인 후 이용해주세요.");
                                        window.location.replace('/login');
                                    }
                                });
                            }
                            else if(team.scope === "private"){
                                if(team.isLogin) {
                                    var pwInput = prompt("비공개 스터디입니다. 비밀번호를 입력하세요.");
                                    if (pwInput != null) {
                                        $.ajax({
                                            url: "/checkTeamPW",
                                            type: "POST",
                                            data: {
                                                tId: team.ttID,
                                                password: pwInput
                                            },
                                            success: function (data) {
                                                if (data) {
                                                    $.ajax({
                                                        url: "/studyDeposit",
                                                        type: "GET",
                                                        dataType: "json",
                                                        data: {
                                                            tId: team.ttID,
                                                            point: team.depositPoint
                                                        },
                                                        success: function (data) {
                                                            if (data == true) {
                                                                alert("입금이 완료 되었습니다. 스터디 참가가 가능합니다. ")
                                                                window.location.replace('/myPage');
                                                            } else if (data == false) {
                                                                alert("잔액이 부족합니다. 포인트를 충전해주세요 ")
                                                                window.location.replace('/chargePoint');
                                                            }
                                                        }, error: function (error) {
                                                            console.log(error)
                                                        }
                                                    });
                                                } else {
                                                    alert("비밀번호가 틀립니다.");
                                                }
                                            }, error: function () {
                                                alert("로그인 후 이용해주세요.");
                                                window.location.replace('/login');
                                            }
                                        });
                                    }
                                }
                                else{
                                    alert("로그인 후 이용해주세요.");
                                    window.location.replace('/login');
                                }
                            }
                        });
                        let eachTeam = document.createElement('div');
                        eachTeam.append(image);
                        eachTeam.append(teamName);
                        eachTeam.append(teamContent);
                        eachTeam.append(currentCount);
                        eachTeam.append(teamDeposit);
                        eachTeam.append(date);
                        eachTeam.append(teamButton);
                        eachTeam.setAttribute("class", "col-xs-4");
                        eachTeam.setAttribute("style", "text-align: center; margin-top: 20px");
                        teams.appendChild(eachTeam);
                    });
                }, error:function(){
                    alert("error");
                }
            })
        }
    }
    function getMyTeams(){
        $.ajax({
            type:"get",
            url:"/findMyTeams",
            datatype:'json',
            success: function(data){

                var teams = document.getElementById('myTeams');


                data.forEach(function(team){

                    // <img src="12" onError=this.src="../images/study.jpg" style="height: 30px; width: 30px">

                    let image = document.createElement('img');
                    image.setAttribute("src", "../images/study.jpg");
                    image.setAttribute("style", "height:200px; width:200px");


                    let teamName = document.createElement('h3');
                    teamName.innerHTML = team.teamName;

                    let teamContent = document.createElement('div');
                    teamContent.innerHTML = team.teamDesc;


                    let currentCount = document.createElement('div');
                    currentCount.innerHTML = "현재 참여 인원 : " + team.currentCount+'/'+team.headCount;

                    let date = document.createElement('div');
                    date.innerHTML= team.startDate + " ~ " +team.endDate;

                    let teamButton1 = document.createElement('button');
                    teamButton1.innerText = "대화하기";

                    teamButton1.setAttribute("id", team.tId);
                    teamButton1.setAttribute("style", " margin:3px;");
                    teamButton1.addEventListener("click", ()=>{

                        $.ajax({
                            url: "/chat/rooms/"+team.ttID,
                            type: "GET",
                            dataType:"json",
                            success: function (data){
                                if(data==true){
                                    window.location.replace('/chat/room/enter/'+team.ttID) ;
                                }
                            }, error:function(){

                                window.location.replace('/login') ;
                            }
                        });
                    });

                    let teamButton2 = document.createElement('button');
                    teamButton2.innerText = "화상채팅";
                    teamButton2.setAttribute("id", team.tId);
                    teamButton2.setAttribute("style", " margin:3px;");
                    teamButton2.addEventListener("click", ()=>{
                        let ymd = new Date();
                        let today = new Date(ymd.getFullYear(), ymd.getMonth(), ymd.getDate(), 9);
                        let start = new Date(team.startDate);
                        if(today < start){
                            alert('아직 스터디가 시작하지 않았습니다.');
                        }
                        else {
                            location.href = '/chat/studyRoom/enter/' + team.ttID;
                        }
                    });

                    let teamButton3 = document.createElement('button');
                    teamButton3.innerText = "팀 탈퇴";
                    teamButton3.setAttribute("style", " margin:3px;");
                    teamButton3.addEventListener("click", ()=>{

                        $.ajax({
                            url: "/dropStudyTeam",
                            type: "GET",
                            dataType:"json",
                            data: {
                                tId : team.ttID
                            },
                            success: function (data){
                                alert("팀이 탈퇴 되었습니다. ")
                                window.location.replace('/myPage');

                            }, error:function(){
                                alert("error");
                            }

                        });
                    });

                    let eachTeam = document.createElement('div');
                    eachTeam.append(image);
                    eachTeam.append(teamName);
                    eachTeam.append(teamContent);
                    eachTeam.append(currentCount);
                    eachTeam.append(date);
                    eachTeam.append(teamButton1);
                    eachTeam.append(teamButton2);
                    eachTeam.append(teamButton3);
                    eachTeam.setAttribute("class", "col-xs-4");
                    eachTeam.setAttribute("style", "text-align: center; margin-top:20px");
                    teams.appendChild(eachTeam);

                });
            }, error:function(){

            }
        })
    }

    if(!("webkitSpeechRecognition") in window){
        alert("Connect in Chrome Browser");
    }else{
        const speech = new webkitSpeechRecognition;
        document.getElementById("voice").addEventListener("click",()=>{
            speech.start();
            setTimeout(function() {
                speech.stop();
            }, 4000);
        });
        speech.addEventListener("result", (event)=>{
            console.log(event);
            const { transcript } = event["results"][0][0];
            console.log(transcript);
            resultListView(transcript);
        });

        function resultListView(transcript){
            document.getElementById("teamName").value = transcript;
        }
    }
</script>
</body>
</html>