<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
        Kakao.init('241e8e5d885ad576b5c291865fbe3373'); // 사용할 앱의 JavaScript키를 입력해 주세요.
        // SDK 초기화 여부를 판단합니다.
    </script>
    <style>
        a {
            text-decoration: none;
            color: #00000090;
        }
    </style>
</head>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div class="container" style="text-align: center;">
    <div class="topMargin" style="display:inline-block; text-align: center; width:850px; ">
        <div style=" margin:50px;" class="topMargin">
            <img src="../images/logo.png" width="50%" alt="Study With Us">
        </div>
        <div class="topMargin" style="width: 300px;display: inline-block">
            <input type="text" id="id" class="form-control"
                   placeholder="ID" style="margin-top: 10px;">
            <input type="password" id="pw" class="form-control"
                   placeholder="PW" style="margin-top: 10px;">
            <font id="check" size="2"> </font>
            <input type="text" id="txt" class="form-control topMargin" placeholder="아래 이미지에 적힌 문자를 입력해주세요."
                   style="font-size: 14px"/>
            <img alt="자동입력방지" id="img" width="300" style="margin-top: 10px">


        </div>
        <div class="topMargin">
            <button class="btn" id="login_btn" type="submit" style="width: 300px; height:45px; font-size: 14px"> 로그인
            </button>
        </div>
        <div class="hr-sect" style="text-align: center; margin: 15px 0; opacity: 70%">또는</div>
        <div style="text-align: center; margin-bottom: 0.5em">
            <a href="https://kauth.kakao.com/oauth/authorize?client_id=4d6bfc510b9480c47be3a30e3ae11deb&redirect_uri=http://localhost:8080/kakaoLogin&response_type=code"
               style="text-decoration:none; text-align-all: center;">
                <img src="/adminImage/kakaoBtn.png" alt="kakaoButton">
            </a>
        </div>
        <div style="text-align : center;">
            <img src="/adminImage/naverBtn.png" alt="naverButton" id="naver_id_login" style="cursor: pointer">
        </div>

        <div class="">
            <div class="py-1 text-center">
                <a class="btn" href="/signUp">회원가입</a>
                <a class="btn" href="/findID">ID 찾기</a>
                <a class="btn" href="/findPW">PW 찾기</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

<script>
    let key;
    getKM();

    $('#naver_id_login').click(function () {
        console.log("클릭")
        $.ajax({
            url: "/getInfo",
            type: "post",
            success: function (data) {
                location.href = "https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=" + data.client_id + "&redirect_uri=http://localhost:8080/naverLogin&state=" + data.state;
            }
        })
    })

    $("#login_btn").on('click', function () {
        loginChk();
    })

    function getKM() {
        console.log("뭐야")
        $.ajax({
            url: "/getimg",
            type: "POST",
            success: function (data) {
                key = data.key
                $('#img').attr('src', '/teamImage/' + data.img);
                // console.log(data.img)
            }
        })
    }

    function loginChk() {
        $.ajax({
            url: "/loginUser",
            type: "POST",
            data: {
                id: $("#id").val(),
                pw: $("#pw").val()
            },
            success: function (data) {
                if (data == "아이디 또는 비밀번호가 일치하지 않습니다.") {
                    // $("#check").html(data);
                    // $("#check").attr('color', 'red');
                    history.go(0);
                } else {
                    $.ajax({
                        url: "/getCheck",
                        type: "POST",
                        data: {data: $('#txt').val(), key: key},
                        success: function (data) {
                            console.log(data)
                            if (data == "true") {
                                // console.log("맞음")
                                window.location.href = "/";
                            } else {
                                // console.log("다름")
                                $('#txt').attr("placeholder", "자동입력 방지문자가 틀립니다.")
                                $('#txt').attr("style", "border-color:red; font-size: 14px;")
                                $('#txt').val("")
                                getKM();
                            }
                        }
                    })
                }
            },
        });
    }
</script>
</body>
</html>