<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script>
    $(document).ready(function () {
        $("#refunds_btn").on('click', function() {
            refundsChk();
        })
    });
    function refundsChk() {
        $.ajax({
            url: "/refunds",
            type: "POST",
            data: {
                name:$("#name").val(),
                bank:$("#bank").val(),
                point:$("#point").val(),
                account:$("#account").val()
            },
            success: function(data){
                if(data =="포인트가 부족합니다."){
                    $("#pointCheck").html(data);
                    $("#pointCheck").attr('color', 'red');
                }
                else{
                    alert(data)
                    window.location.href = "/";
                }
            },
        });
    }
    function currentPoint(){
        $.ajax({
            url: "/currentPoint",
            type: "POST",
            success: function(data){
                $("#currentPoint").html(data);
            },
        });
    }
</script>

<body>
<script>
    currentPoint();
</script>
<h1>나의 포인트 정보</h1>
<h1>현재 포인트</h1>

<span id="currentPoint">currentPoint();</span>
<div style="text-align: center; margin-top: 100px; ">

    <input type="text" id="name"  class="form-control"
           placeholder="성함" style="margin-top: 10px;" ><br>
    <input type="text" id="bank"  class="form-control"
           placeholder="은행" style="margin-top: 10px;" ><br>
    <input type="text" id="account"  class="form-control"
           placeholder="계좌번호" style="margin-top: 10px;" ><br>
    <input type="number" id="point" min="5000" step="1000" class="form-control"
           placeholder="환급 받으실 포인트 금액" style="margin-top: 10px;" ><br>
    <span id = "pointCheck" size="2"> </span>
    <div style="margin-top: 10px;">
        <button id = "refunds_btn" type="submit" > 환급받기</button>
    </div>
</div>

<div>
    <h1>환급 신청 현황</h1>
</div>



</body>
</html>