<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<script>
    $(document).ready(function () {
        $("#refunds_btn").on('click', function() {
            refundsChk();
        })
        $.ajax({
            url: "/currentPoint",
            type: "POST",
            success: function(data){
                $("#currentPoint").html(data);
            },
        });
        $.ajax({
            url: "refundList",
            type:"POST",
            success: function(data){
                let info = document.getElementById('info')

                data.forEach(function(list){
                    let date = document.createElement('div');
                    date.setAttribute('class','col-xs-4');
                    date.innerHTML = list.requestDate;

                    let point = document.createElement('div')
                    point.setAttribute('class','col-xs-4')
                    point.innerHTML = list.point;

                    let check = document.createElement('div');
                    check.setAttribute('class', 'col-xs-4');

                    if(list.flag==true) {
                        check.innerText = "환급완료";
                        check.setAttribute("readonly","true");
                    }
                    else  {
                        check.innerText = "환급요청";
                        check.setAttribute("readonly","true");
                    }

                    let eachAccount = document.createElement('div');
                    eachAccount.setAttribute("style", "text-align:center; margin-top:10px;  ")
                    eachAccount.append(date)
                    eachAccount.append(point);
                    eachAccount.append(check);


                    info.appendChild(eachAccount);
                })
            },
            error: function (error){
                console.log(error)
                console.log("뭐고")
            }
        });

    });
    function refundsChk() {
        $.ajax({
            url: "/refunds",
            type: "POST",
            data: {
                name:$("#name").val(),
                bank:$("#bank").val(),
                point:$("#point").val(),
                account:$("#account").val()
            },
            success: function(data){
                if(data =="포인트가 부족합니다."){
                    $("#pointCheck").html(data);
                    $("#pointCheck").attr('color', 'red');
                }
                else{
                    alert(data)
                    window.location.href = "/";
                }
            },
        });
    }
</script>

<body>
<h1>나의 포인트 정보</h1>
<h1>현재 포인트</h1>

<span id="currentPoint"></span>
<div style="text-align: center; margin-top: 100px; ">

    <input type="text" id="name"  class="form-control"
           placeholder="성함" style="margin-top: 10px;" ><br>
    <input type="text" id="bank"  class="form-control"
           placeholder="은행" style="margin-top: 10px;" ><br>
    <input type="text" id="account"  class="form-control"
           placeholder="계좌번호" style="margin-top: 10px;" ><br>
    <input type="number" id="point" min="5000" step="1000" class="form-control"
           placeholder="환급 받으실 포인트 금액" style="margin-top: 10px;" ><br>
    <span id = "pointCheck" size="2"> </span>
    <div style="margin-top: 10px;">
        <button id = "refunds_btn" type="submit" > 환급받기</button>
    </div>
</div>

<div>
    <h1>환급 신청 현황</h1>
</div>

<div class="row" style="margin-top: 30px; margin-bottom: 10px; text-align: center;">
    <div class="col-xs-4"><h3>요청 날짜</h3></div>
    <div class="col-xs-4"><h3>포인트</h3></div>
    <div class="col-xs-4"><h3>진행상황</h3></div>
</div>
<div class="row" >
    <div id="info"></div>
</div>

</body>
</html>