<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<!--    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>-->

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div class="container1" style="width: 1000px; text-align: center;">
    <div class="container topMargin">

        <h4 style="text-align: center; color: #386ad1; margin-bottom: 10px;">MY POINT</h4>
        <h1 style="text-align: center;">나의 포인트 정보</h1>
        <h1 style="text-align: center;" class="topMargin">현재 포인트 <span id="currentPoint"></span></h1>

    </div>
    <div style="text-align: center; margin-top: 50px;" class="container point">

        <input type="text" id="name" class="form-control"
               placeholder="성함" style="margin-top: 10px;"><br>
        <input type="text" id="bank" class="form-control"
               placeholder="은행" style="margin-top: 10px;"><br>
        <input type="text" id="account" class="form-control"
               placeholder="계좌번호" style="margin-top: 10px;"><br>
        <input type="number" id="point" min="5000" step="1000" class="form-control"
               placeholder="환급 받으실 포인트 금액" style="margin-top: 10px;"><br>
        <span id="pointCheck" size="2"> </span>
        <div style="margin-top: 10px;">
            <button id="refunds_btn" type="submit" class="topMargin"> 환급받기</button>
        </div>
    </div>

    <div class="container topMargin">
        <hr class="topMargin"/>
    </div>
    <div>
        <h1 style="text-align: center;" class="topMargin">환급 신청 현황</h1>
    </div>

    <div class="row flexevenly refund" style="margin-top: 30px; margin-bottom: 10px; text-align: center;">
        <div class="col-xs-2"><h3>요청 날짜</h3></div>
        <div class="col-xs-2"><h3>포인트</h3></div>
        <div class="col-xs-2"><h3>진행상황</h3></div>
    </div>
    <div class="row">
        <div id="info"></div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

<script>
    $(document).ready(function () {
        $("#refunds_btn").on('click', function () {
            refundsChk();
        })
        $.ajax({
            url: "/currentPoint",
            type: "POST",
            success: function (data) {
                $("#currentPoint").html(data);
            },
        });
        $.ajax({
            url: "refundList",
            type: "POST",
            success: function (data) {
                let info = document.getElementById('info')

                data.forEach(function (list) {
                    let date = document.createElement('div');
                    date.setAttribute('class', 'col-xs-4');
                    date.innerHTML = list.requestDate;

                    let point = document.createElement('div')
                    point.setAttribute('class', 'col-xs-4')
                    point.innerHTML = list.point;

                    let check = document.createElement('div');
                    check.setAttribute('class', 'col-xs-4');

                    if (list.flag == true) {
                        check.innerText = "환급완료";
                        check.setAttribute("readonly", "true");
                    } else {
                        check.innerText = "환급요청";
                        check.setAttribute("readonly", "true");
                    }

                    let eachAccount = document.createElement('div');
                    eachAccount.setAttribute("style", "text-align:center; margin-top:10px;  ")
                    eachAccount.append(date)
                    eachAccount.append(point);
                    eachAccount.append(check);


                    info.appendChild(eachAccount);
                })
            },
            error: function (error) {
                console.log(error)
                console.log("뭐고")
            }
        });

    });

    function refundsChk() {
        $.ajax({
            url: "/refunds",
            type: "POST",
            data: {
                name: $("#name").val(),
                bank: $("#bank").val(),
                point: $("#point").val(),
                account: $("#account").val()
            },
            success: function (data) {
                if (data == "포인트가 부족합니다.") {
                    $("#pointCheck").html(data);
                    $("#pointCheck").attr('color', 'red');
                } else {
                    alert(data)
                    window.location.href = "/";
                }
            },
        });
    }
</script>

</body>
</html>