<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study With Us</title>
<!--    <link rel="stylesheet" href="../css/style.css" />-->
    <script src="/webjars/jquery/dist/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

<!--    &lt;!&ndash; 합쳐지고 최소화된 최신 CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->

<!--    &lt;!&ndash; 부가적인 테마 &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">-->

<!--    &lt;!&ndash; 합쳐지고 최소화된 최신 자바스크립트 &ndash;&gt;-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"-->
<!--          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"-->
<!--            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"-->
<!--            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>-->
<!--    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>-->
<!--    <link rel="stylesheet" href="../css/style.css"/>-->
    <!--    아이콘-->
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>-->
<!--    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="../css/style.css" />


</head>
    <style>
        .chat_wrap {
            border: 1px solid #999;
            width: 500px;
            padding: 10px;
            font-size: 15px;
            color: #333;

        }

        .chat_wrap .inner {
            background-color: #ffffff;
            border-radius: 5px;
            padding: 7px;
            overflow-y: scroll;
            height: 600px;
        }
    </style>

<body>
<div class="header">
    <div class="container flex" style="margin-top: 10px">
        <div class="logo">
            <a href="/">
                <img src="../images/logo.png" />
            </a>
        </div>
        <div class="row">
            <form id="form">
                <ul>
                    <li>
                        <a href="/createStudy"><h4>스터디 생성하기</h4></a>
                    </li>
                    <li>
                        <a href="/boardSearch"><h4>자유게시판</h4></a>
                    </li>
                    <li>
                        <a href="/login"><h4>로그인</h4></a>
                    </li>
                    <li>
                        <a href="/logout" id="logoutbtn"><h4>로그아웃</h4></a>
                    </li>
                    <li>
                        <button type="button" onclick='location.href="/myPage"'>
                            마이페이지
                        </button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<h1 id="title"></h1>
<div class="content" data-room-id="{{room.id}}" data-member="{{member}}">
    <div class="chat_wrap">
        <div class="inner">
            <ul class="chat_box" style="text-align: left;">
            </ul>

        </div>
    </div>
    <input name="message" id="alpreah_input">
    <button class="send">보내기</button>
    <button class="exit">나가기</button>
</div>
<button class="exit">나가기</button>
<script>

    let curURL = window.location.href;
    let urlArr = curURL.split("/");
    let tId = urlArr[urlArr.length-1];
    let name="hihi";
    $(document).ready(function () {

        findStudyUser();
        start();
    });
    function findStudyUser(){
        $.ajax({
            url: "/chat/findStudyUser",
            type: "GET",
            async: false,
            success: function(data){
                name = data;
            },error: function(error){
                console.log(error);
            }
        });
        $.ajax({
            url: "/chat/findTitle",
            type: "GET",
            async: false,
            data :{
                tID:tId
            },
            success: function(data){
                let title = document.getElementById('title');
                title.innerText = data;
            },error: function(error){
                console.log(error);
            }
        });
    }

    function start(){
        var chatBox = $('.chat_box');
        var messageInput = $('input[name="message"]');
        var sendBtn = $('.send');
        var exitBtn = $('.exit');
        var roomId = $('.content').data('room-id');
        var member = name;
        //var member = $('.content').data('member');
        var sock = new SockJS("/stomp-chat");
        var client = Stomp.over(sock);
        client.debug = function (e) {
        };

        client.connect({}, function () {
            client.send('/publish/chat/join', {}, JSON.stringify({
                chatRoomId: tId,
                type: 'JOIN',
                writer: member
            }));
            client.subscribe('/subscribe/chat/room/' + tId, function (chat) {
                var content = JSON.parse(chat.body);
                // chatBox.append('<li>' + content.message + '(' + content.writer + ')</li>')
                if(content.message==content.writer+"님이 입장하셨습니다."){
                    chatBox.append('<h3 style="color: blue">'+ content.message +'</h3>')
                }
                else if(content.writer==name){ //본인일 때
                    chatBox.append('<h3 style="color: orange">'+ content.writer+ ' : ' + content.message +'</h3>')
                }
                else if(content.writer==""){
                    chatBox.append('<h3 style="color: red">'+ content.message +'</h3>')
                }
                else{
                    chatBox.append('<h3>'+ content.writer+ ' : ' + content.message +'</h3>')
                }

            });
        });


        sendBtn.click(function () {
            if(messageInput.val()!="") {
                var message = messageInput.val();
                client.send('/publish/chat/message', {}, JSON.stringify({
                    chatRoomId: tId,
                    type: 'CHAT',
                    message: message,
                    writer: member
                }));
                messageInput.val('');
            }
        });


        exitBtn.click(function () {
            client.send('/publish/chat/message', {}, JSON.stringify({
                chatRoomId: tId,
                type: 'CHAT',
                message: member+"님이 채팅방을 나갔습니다.",
                writer: ""
            }));
            messageInput.val('');
            window.location.href = "/myPage";
        });


        $(document).ready(function() {
            $("#alpreah_input").keydown(function(key) {
                if (key.keyCode == 13) {
                    // alert("엔터키를 눌렀습니다.");
                    if(messageInput.val()!="") {
                        var message = messageInput.val();
                        client.send('/publish/chat/message', {}, JSON.stringify({
                            chatRoomId: tId,
                            type: 'CHAT',
                            message: message,
                            writer: member
                        }));
                        messageInput.val('');
                    }
                }
            });
        });

    }
</script>
<div class="footer">
    <div class="container grid2">
        <div class="box">
            <img src="https://see.fontimg.com/api/renderfont4/Ea2l9/eyJyIjoiZnMiLCJoIjoxNTIsInciOjIwMDAsImZzIjo3NiwiZmdjIjoiIzAwMDAwMCIsImJnYyI6IiNGRkZGRkYifQ/U1RVRFkgV0lUSCBVUw/valentine.png"
                 alt="logo"
            />
            <p>온라인 스터디 공간입니다.</p>
            <div class="socialIcon">
                <i class="fab fa-facebook-f "></i>
                <i class="fab fa-instagram "></i>
                <i class="fab fa-twitter "></i>
                <i class="fab fa-youtube "></i>
            </div>
        </div>

        <div class="box">
            <h2>Contact Us</h2>

            <div class="icon">
                <i class="fa fa-location-dot"></i>
                <label htmlFor="">Location: 서울시 서초구 서초동 1307</label>
            </div>
            <div class="icon">
                <i class="fa fa-phone"></i>
                <label htmlFor="">Phone: +82 2 6666 6666</label>
            </div>
            <div class="icon">
                <i class="fa fa-envelope"></i>
                <label htmlFor="">Email: support@gmail.com</label>
            </div>
        </div>
    </div>
    <div class="legal container">
        <p>Copyright @2022. All rights reserved.</p>
        <label htmlFor="">
            Design & Developed by <span>6조머지?</span>
        </label>
    </div>
</div>
</body>
</html>