<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>

<div class="container admin">
    <h4 style="text-align: center; color: #386ad1; margin: 50px auto 5px auto;">ADMIN PAGE</h4>
    <div class="flex" style="width: 35%; margin: 10px auto;">
        <h5><a href="/adminPage" style="margin: 10px">환급 리스트</a></h5>
        <h5><a href="/userList" style="margin: 10px">사용자 리스트</a></h5>
        <h5><a href="/teamList" style="margin: 10px">스터디 리스트</a></h5>
    </div>
</div>

<div class="container admin" style="margin-top: 80px;">
    <h1 style="text-align: center;">팀 리스트</h1>

    <div style="text-align: right; margin-right: 10px; margin-top: 30px; ">
        <input type="text" id="teamName" placeholder="팀 이름을 입력하세요." style="width: 210px; padding: 10px; font-size: 11pt; ">
        <button id="search">검색</button>
        <button id="reset" type="reset">취소</button>
    </div>

    <table class="table table-hover" style="margin-top: 30px; text-align: center;">
        <thead class="thead-dark">
        <tr>
            <th scope="col">번호</th>
            <th scope="col">팀 이름</th>
            <th scope="col">현재인원</th>
            <th scope="col">총원</th>
            <th scope="col">누적참가비</th>
            <th scope="col">삭제여부</th>
        </tr>
        </thead>
        <tbody id="teams"></tbody>
    </table>

</div>
<div th:replace="fragments/footer :: footer"></div>

<script>
    $.ajax({
        url: "/checkUser",
        type: "POST",
        success: function (data) {

            if (data == 0) {
                $('#logoutbtn').attr("hidden", true);
            } else {
                $('#loginbtn').attr("hidden", true);
            }
        }, error: function (error) {
            console.log(error);
        }
    });
    getTeamInfo();

    function getTeamInfo() {
        let check1 = 0;
        let teamName1 = "";
        $("#search").on('click', function () {
            check1 = 1;
            teamName1 = $("#teamName").val();
            $('#teams').empty();
            getTeam();
        })
        $("#reset").on('click', function () {
            check1 = 0;
            teamName1 = "";
            $('#teams').empty();
            getTeam();
        })
        if (check1 == 0) getTeam();

        function getTeam() {
            $.ajax({
                type: "get",
                url: "/teamListInfo",
                data: {
                    check: check1,
                    teamName: teamName1
                },
                success: function (data) {
                    let teams = document.getElementById('teams');
                    data.forEach(function (team) {

                        let tid = document.createElement('td');
                        tid.setAttribute("scope", "row");
                        tid.innerHTML = team.ttID;

                        let teamName = document.createElement('td');
                        teamName.innerHTML = team.teamName;

                        let currentCount = document.createElement('td');
                        currentCount.innerHTML = team.currentCount;

                        let headCount = document.createElement('td');
                        headCount.innerHTML = team.headCount;


                        let totalDepositPoint = document.createElement('td');
                        totalDepositPoint.innerHTML = team.totalDepositPoint


                        let check = document.createElement('td');
                        let deleteButton = document.createElement('button');

                        deleteButton.innerText = "팀 삭제";
                        deleteButton.setAttribute("type", "button")
                        deleteButton.setAttribute("class", "btn btn-danger btn-sm")

                        check.appendChild(deleteButton);

                        let eachAccount = document.createElement('tr');
                        eachAccount.setAttribute("style", "text-align: center;")
                        eachAccount.append(tid);
                        eachAccount.append(teamName);
                        eachAccount.append(currentCount)
                        eachAccount.append(headCount);
                        eachAccount.append(totalDepositPoint);
                        eachAccount.append(check);

                        teams.appendChild(eachAccount);
                        deleteButton.addEventListener("click", () => {
                            $.ajax({
                                url: "/deleteTeam",
                                type: "GET",
                                dataType: "json",
                                data: {
                                    tID: team.ttID
                                },
                                success: function (data) {
                                    alert("팀이 삭제되었습니다.")
                                    window.location.replace('/teamList');

                                }, error: function () {
                                    alert("관리자가 아닙니다.");
                                    window.location.replace('/teamList');
                                }
                            });
                        });

                    });
                }, error: function () {
                    alert("error");
                }
            })
        }

    }
</script>

</body>
</html>