<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>

<div class="container admin">
    <h4 style="text-align: center; color: #386ad1; margin: 50px auto 5px auto;">ADMIN PAGE</h4>
    <div class="flex" style="width: 35%; margin: 10px auto;">
        <h5><a href="/adminPage" style="margin: 10px">환급 리스트</a></h5>
        <h5><a href="/userList" style="margin: 10px">사용자 리스트</a></h5>
        <h5><a href="/teamList" style="margin: 10px">스터디 리스트</a></h5>
    </div>
</div>

<div class="container admin" style="margin-top: 80px;">
    <h1 style="text-align: center;">사용자 리스트</h1>

    <div style="text-align: right; margin-right: 10px; margin-top: 30px; ">
        <input type="text" id="userID" placeholder="사용자 아이디를 입력하세요." style="font-size: 11pt; width: 210px; padding: 10px">
        <button id ="search">검색</button>
        <button id ="reset" type="reset">취소</button>
    </div>

    <table class="table table-hover" style="margin-top: 30px; text-align: center;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">번호</th>
                <th scope="col">이름</th>
                <th scope="col">아이디</th>
                <th scope="col">비밀번호</th>
                <th scope="col">포인트</th>
                <th scope="col">삭제여부</th>
            </tr>
        </thead>
        <tbody id="users"></tbody>
    </table>

</div>
<div th:replace="fragments/footer :: footer"></div>

<script>
    getUserInfo();
    function getUserInfo(){
        let check1 =0;
        let userID1 = "";
        $("#search").on('click', function() {
            check1 = 1;
            userID1 = $("#userID").val();
            $('#users').empty();
            getUser();
        })
        $("#reset").on('click', function() {
            check1 = 0;
            userID1 ="";
            $('#users').empty();
            getUser();
        })
        if(check1==0)getUser();
        function getUser(){
            $.ajax({
                type:"get",
                url:"/userListInfo",
                data: {
                    check : check1,
                    userID: userID1
                },
                success: function(data){
                    let accounts = document.getElementById('users');
                    data.forEach(function(user){

                        let uid = document.createElement('td');
                        uid.setAttribute("scope", "row");
                        uid.innerHTML = user.uuID;

                        let name = document.createElement('td');
                        name.innerHTML = user.userName;

                        let id = document.createElement('td');
                        id.innerHTML = user.userID;


                        let pw = document.createElement('td');
                        pw.innerHTML = user.pw;


                        let point = document.createElement('td');
                        point.innerHTML = user.point


                        let check = document.createElement('td');

                        let deleteButton = document.createElement('button');

                        deleteButton.innerText = "회원 삭제";
                        deleteButton.setAttribute("type", "button")
                        deleteButton.setAttribute("class", "btn btn-danger btn-sm")

                        check.appendChild(deleteButton);

                        let eachAccount = document.createElement('tr');
                        eachAccount.setAttribute("style", "text-align:center;")
                        eachAccount.append(uid);
                        eachAccount.append(name);
                        eachAccount.append(id)
                        eachAccount.append(pw);
                        eachAccount.append(point);
                        eachAccount.append(check);

                        accounts.appendChild(eachAccount);
                        deleteButton.addEventListener("click", ()=>{
                            $.ajax({
                                url: "/deleteUser",
                                type: "GET",
                                dataType:"json",
                                data: {
                                    uID : user.uuID
                                },
                                success: function (data){
                                    alert("회원이 삭제되었습니다.")
                                    window.location.replace('/userList');

                                }, error:function(){
                                    alert("관리자가 아닙니다.");
                                    window.location.replace('/userList') ;
                                }
                            });
                        });

                    });
                }, error:function(){
                    alert("error");
                }
            })
        }

    }
</script>

<script>
    $.ajax({
        url: "/checkUser",
        type: "POST",
        success: function (data) {

            if (data == 0) {
                $('#logoutbtn').attr("hidden",true);
            } else {
                $('#loginbtn').attr("hidden",true);
            }
        }, error: function (error) {
            console.log(error);
        }
    });
</script>
</body>
</html>