<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>

<div class="container admin">
    <h4 style="text-align: center; color: #386ad1; margin: 50px auto 5px auto;">ADMIN PAGE</h4>
    <div class="flex" style="width: 35%; margin: 10px auto;">
        <h5><a href="/adminPage" style="margin: 10px">환급 리스트</a></h5>
        <h5><a href="/userList" style="margin: 10px">사용자 리스트</a></h5>
        <h5><a href="/teamList" style="margin: 10px">스터디 리스트</a></h5>
    </div>
</div>

<div class="container admin" style="margin-top: 80px;">
    <h1 style="text-align: center;">사용자 리스트</h1>

    <div style="text-align: right; margin-right: 10px; margin-top: 30px; ">
        <input type="text" id="userID" placeholder="사용자 아이디를 입력하세요" style="width: 200px; padding: 10px">
        <button id ="search">검색</button>
        <button id ="reset" type="reset">취소</button>
    </div>

    <div class="row flex" style="margin: auto; margin-top: 30px; margin-bottom: 10px; text-align: center; width: 80%">
        <div class="col-xs-2"><h4>번호</h4></div>
        <div class="col-xs-2"><h4>이름</h4></div>
        <div class="col-xs-2"><h4>아이디</h4></div>
        <div class="col-xs-2"><h4>비밀번호</h4></div>
        <div class="col-xs-2"><h4>포인트</h4></div>
        <div class="col-xs-2"><h4>삭제여부</h4></div>
    </div>
    <hr>
    <div class="row flex" >
        <div id="users"></div>
    </div>
</div>

<script>
    getUserInfo();
    function getUserInfo(){
        let check1 =0;
        let userID1 = "";
        $("#search").on('click', function() {
            check1 = 1;
            userID1 = $("#userID").val();
            $('#users').empty();
            getUser();
        })
        $("#reset").on('click', function() {
            check1 = 0;
            userID1 ="";
            $('#users').empty();
            getUser();
        })
        if(check1==0)getUser();
        function getUser(){
            $.ajax({
                type:"get",
                url:"/userListInfo",
                data: {
                    check : check1,
                    userID: userID1
                },
                success: function(data){
                    let accounts = document.getElementById('users');
                    data.forEach(function(user){

                        let uid = document.createElement('h4');
                        uid.setAttribute("class", "col-xs-2");
                        uid.innerHTML = user.uuID;

                        let name = document.createElement('h4');
                        name.setAttribute("class", "col-xs-2");
                        name.innerHTML = user.userName;

                        let id = document.createElement('h4');
                        id.setAttribute("class", "col-xs-2");
                        id.innerHTML = user.userID;


                        let pw = document.createElement('h4');
                        pw.setAttribute("class", "col-xs-2");
                        pw.innerHTML = user.pw;


                        let point = document.createElement('h4');
                        point.setAttribute("class", "col-xs-2");
                        point.innerHTML = user.point


                        let check = document.createElement('div');
                        check.setAttribute("class", "col-xs-2");

                        let deleteButton = document.createElement('button');

                        deleteButton.innerText = "회원 삭제";
                        deleteButton.setAttribute("style", "height:30pt; color:white; background-color: red; ")

                        check.appendChild(deleteButton);

                        let eachAccount = document.createElement('div');
                        eachAccount.setAttribute("class", "flex")
                        eachAccount.setAttribute("style", "text-align:center; margin-top:10px; margin: auto; width: 80%; ")
                        eachAccount.append(uid);
                        eachAccount.append(name);
                        eachAccount.append(id)
                        eachAccount.append(pw);
                        eachAccount.append(point);
                        eachAccount.append(check);

                        accounts.appendChild(eachAccount);
                        deleteButton.addEventListener("click", ()=>{
                            $.ajax({
                                url: "/deleteUser",
                                type: "GET",
                                dataType:"json",
                                data: {
                                    uID : user.uuID
                                },
                                success: function (data){
                                    alert("회원이 삭제되었습니다.")
                                    window.location.replace('/userList');

                                }, error:function(){
                                    alert("관리자가 아닙니다.");
                                    window.location.replace('/userList') ;
                                }
                            });
                        });

                    });
                }, error:function(){
                    alert("error");
                }
            })
        }

    }
</script>



</body>
</html>