<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<body>


<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-xs-3">
            <a href="/">로고</a>
        </div>
        <div class="col-xs-6"></div>
        <div class="col-xs-1"><a href="/adminPage">로그인</a></div>
        <div class="col-xs-2">
            <button type="submit" onclick="location.href='/myPage'"  >
                마이페이지
            </button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6" >
            <div style="text-align: center; margin-top: 80px">
                <a href="/adminPage" style="margin: 10px">환급내역</a>
                <a href="/userList" style="margin: 10px">사용자 리스트</a>
                <a href="/teamList" style="margin: 10px">스터디 리스트</a>
            </div>
        </div>
        <div class="col-xs-3"></div>
    </div>
</div>

<div class="container" style="margin-top: 20px;">
    <div class="row" style="text-align: center;">
        <h1>사용자 리스트</h1>
    </div>

    <div style="text-align: right; margin-right: 10px; margin-top: 30px; ">
        <input type="text" id="userID" placeholder="사용자 아이디를 입력하세요" style="width: 100px;">
        <button id ="search">검색</button>
        <button id ="reset" type="reset">취소</button>
    </div>


    <div class="row" style="margin-top: 50px; margin-bottom: 10px; text-align: center;">

        <div class="col-xs-2"><h3>번호</h3></div>
        <div class="col-xs-2"><h3>이름</h3></div>
        <div class="col-xs-2"><h3>아이디</h3></div>
        <div class="col-xs-2"><h3>비밀번호</h3></div>
        <div class="col-xs-2"><h3>포인트</h3></div>
        <div class="col-xs-2"><h3>삭제여부</h3></div>
    </div>
    <hr>
    <div class="row" >

        <div id="users">

        </div>
    </div>
</div>

<script>
    getUserInfo();
    function getUserInfo(){
        let check1 =0;
        let userID1 = "";
        $("#search").on('click', function() {
            check1 = 1;
            userID1 = $("#userID").val();
            $('#users').empty();
            getUser();
        })
        $("#reset").on('click', function() {
            check1 = 0;
            userID1 ="";
            $('#users').empty();
            getUser();
        })
        if(check1==0)getUser();
        function getUser(){
            $.ajax({
                type:"get",
                url:"/userListInfo",
                data: {
                    check : check1,
                    userID: userID1
                },
                success: function(data){
                    let accounts = document.getElementById('users');
                    data.forEach(function(user){

                        let uid = document.createElement('h4');
                        uid.setAttribute("class", "col-xs-2");
                        uid.innerHTML = user.uuID;

                        let name = document.createElement('h4');
                        name.setAttribute("class", "col-xs-2");
                        name.innerHTML = user.userName;

                        let id = document.createElement('h4');
                        id.setAttribute("class", "col-xs-2");
                        id.innerHTML = user.userID;


                        let pw = document.createElement('h4');
                        pw.setAttribute("class", "col-xs-2");
                        pw.innerHTML = user.pw;


                        let point = document.createElement('h4');
                        point.setAttribute("class", "col-xs-2");
                        point.innerHTML = user.point


                        let check = document.createElement('div');
                        check.setAttribute("class", "col-xs-2");

                        let deleteButton = document.createElement('button');

                        deleteButton.innerText = "회원 삭제";
                        deleteButton.setAttribute("style", "height:30pt; color:white; background-color: red; ")

                        check.appendChild(deleteButton);

                        let eachAccount = document.createElement('div');
                        eachAccount.setAttribute("style", "text-align:center; margin-top:10px;  ")
                        eachAccount.append(uid);
                        eachAccount.append(name);
                        eachAccount.append(id)
                        eachAccount.append(pw);
                        eachAccount.append(point);
                        eachAccount.append(check);

                        accounts.appendChild(eachAccount);
                        deleteButton.addEventListener("click", ()=>{
                            $.ajax({
                                url: "/deleteUser",
                                type: "GET",
                                dataType:"json",
                                data: {
                                    uID : user.uuID
                                },
                                success: function (data){
                                    alert("회원이 삭제되었습니다.")
                                    window.location.replace('/userList');

                                }, error:function(){
                                    alert("관리자가 아닙니다.");
                                    window.location.replace('/userList') ;
                                }
                            });
                        });

                    });
                }, error:function(){
                    alert("error");
                }
            })
        }

    }
</script>



</body>
</html>