<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study With Us</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
</head>
<body>
<div class="header">
    <div class="container flex" style="margin-top: 10px">
        <div class="logo">
            <a href="/">
                <img src="../images/logo.png"/>
            </a>
        </div>
        <div class="row">
            <ul>
                <li>
                    <h6><a href="/createStudy">스터디 생성하기</a></h6>
                </li>
                <li>
                    <a href="/boardSearch"><h6>자유게시판</h6></a>
                </li>
                <li>
                    <a href="/login"><h6>로그인</h6></a>
                </li>
                <li>
                    <a href="/logout" id="logoutbtn"><h6>로그아웃</h6></a>
                </li>
                <li>
                    <button type="button" onclick='location.href="/myPage"'>
                        마이페이지
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container" style="width: 1000px;">
    <div class="container2" style="margin-top: 100px;">
        <div class="row">
            <h1>게시글 작성</h1>
        </div>

        <div class="mb-3" style="margin-top: 30px;">
            <label for=title class="form-label">제목</label>
            <input type="text" class="form-control" id="title" placeholder="제목을 입력해주세요."/>
        </div>
        <div class="mb-3" style="margin-top: 15px;">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" id="content" rows="3" placeholder="내용을 입력해주세요"
                      style="height: 600px;"></textarea>
        </div>

        <div style="text-align: center">
            <button class="btn btn-outline-dark" id="writeComplete" style="border-color: #00000060;">게시물 작성</button>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container grid2">
        <div class="box">
            <img src="https://see.fontimg.com/api/renderfont4/Ea2l9/eyJyIjoiZnMiLCJoIjoxNTIsInciOjIwMDAsImZzIjo3NiwiZmdjIjoiIzAwMDAwMCIsImJnYyI6IiNGRkZGRkYifQ/U1RVRFkgV0lUSCBVUw/valentine.png"
                 alt="logo"
            />
            <p>온라인 스터디 공간입니다.</p>
            <div class="socialIcon">
                <i class="fab fa-facebook-f "></i>
                <i class="fab fa-instagram "></i>
                <i class="fab fa-twitter "></i>
                <i class="fab fa-youtube "></i>
            </div>
        </div>

        <div class="box">
            <h2>Contact Us</h2>

            <div class="icon">
                <i class="fa fa-location-dot"></i>
                <label htmlFor="">Location: 서울시 서초구 서초동 1307</label>
            </div>
            <div class="icon">
                <i class="fa fa-phone"></i>
                <label htmlFor="">Phone: +82 2 6666 6666</label>
            </div>
            <div class="icon">
                <i class="fa fa-envelope"></i>
                <label htmlFor="">Email: support@gmail.com</label>
            </div>
        </div>
    </div>
    <div class="legal container">
        <p>Copyright @2022. All rights reserved.</p>
        <label htmlFor="">
            Design & Developed by <span>6조머지?</span>
        </label>
    </div>
</div>

<script>

    $("#writeComplete").on('click', function () {
        writeComplete();

    })

    function writeComplete() {

        let title = $("#title").val()

        let param = {'title': $("#title").val(), 'content': $("#content").val()}

        $.ajax({
            url: "/saveContent",
            type: "POST",
            contentType: 'application/json',
            data: JSON.stringify(param),
            success: function (data) {
                if (data == true) {
                    alert("정상적으로 글작성이 완료되었습니다.")
                    window.location.href = "/boardSearch";
                }
                console.log("글쓰기 성공!");

            }, error: function (error) {
                console.log(error)
            }
        });
    }
</script>

</body>

</html>